In [1]:
import pandas as pd
from sqlalchemy import create_engine
import MySQLdb
import warnings
warnings.filterwarnings("ignore")
from config import user_name,password
import MySQLdb

In [2]:
df1=pd.read_csv("CompleteDataset.csv",encoding ='utf-8',low_memory=False)
df1.head()

,Unnamed: 0,Name,Age,Photo,Nationality,Flag,Overall,Potential,Club,Club Logo,...,RB,RCB,RCM,RDM,RF,RM,RS,RW,RWB,ST
0,0,Cristiano Ronaldo,32,https://cdn.sofifa.org/48/18/players/20801.png,Portugal,https://cdn.sofifa.org/flags/38.png,94,94,Real Madrid CF,https://cdn.sofifa.org/24/18/teams/243.png,...,61.0,53.0,82.0,62.0,91.0,89.0,92.0,91.0,66.0,92.0
1,1,L. Messi,30,https://cdn.sofifa.org/48/18/players/158023.png,Argentina,https://cdn.sofifa.org/flags/52.png,93,93,FC Barcelona,https://cdn.sofifa.org/24/18/teams/241.png,...,57.0,45.0,84.0,59.0,92.0,90.0,88.0,91.0,62.0,88.0
2,2,Neymar,25,https://cdn.sofifa.org/48/18/players/190871.png,Brazil,https://cdn.sofifa.org/flags/54.png,92,94,Paris Saint-Germain,https://cdn.sofifa.org/24/18/teams/73.png,...,59.0,46.0,79.0,59.0,88.0,87.0,84.0,89.0,64.0,84.0
3,3,L. Suárez,30,https://cdn.sofifa.org/48/18/players/176580.png,Uruguay,https://cdn.sofifa.org/flags/60.png,92,92,FC Barcelona,https://cdn.sofifa.org/24/18/teams/241.png,...,64.0,58.0,80.0,65.0,88.0,85.0,88.0,87.0,68.0,88.0
4,4,M. Neuer,31,https://cdn.sofifa.org/48/18/players/167495.png,Germany,https://cdn.sofifa.org/flags/21.png,92,92,FC Bayern Munich,https://cdn.sofifa.org/24/18/teams/21.png,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
df2=pd.read_csv("full_fifa18_data.csv",encoding ='utf-8')
df2.tail()

,ID,Name,Value (M),Position,Overall,Potential,full_name,club,special,age,...,prefers_lcb,prefers_gk,foot_Left,foot_Right,att_rate_High,att_rate_Low,att_rate_Medium,defend_rate_High,defend_rate_Low,defend_rate_Medium
17734,11728,B. Richardson,0.00,GK,46,46,Barry Richardson,Wycombe Wanderers,832,47,...,False,1,0,1,0,0,1,0,0,1
17735,237463,A. Kelsey,0.05,GK,46,63,Adam Kelsey,Scunthorpe United,755,17,...,False,1,0,1,0,0,1,0,0,1
17736,238813,J. Lundstram,0.06,CM,46,64,Josh Lundstram,Crewe Alexandra,1302,18,...,False,0,0,1,0,0,1,0,0,1
17737,231381,J. Young,0.06,ST,46,61,Jordan Young,Swindon Town,1194,17,...,False,0,1,0,0,0,1,0,0,1
17738,238308,L. Sackey,0.05,ST,46,64,Leslie Sackey,Scunthorpe United,1031,18,...,False,0,1,0,0,0,1,0,0,1

In [4]:
mergetable=pd.merge(df2,df1, on="ID")
mergetable.head(1)

,ID,Name_x,Value (M),Position,Overall_x,Potential_x,full_name,club,special,age,...,RB,RCB,RCM,RDM,RF,RM,RS,RW,RWB,ST
0,20801,Cristiano Ronaldo,95.5,ST,94,94,C. Ronaldo dos Santos Aveiro,Real Madrid CF,2228,32,...,61.0,53.0,82.0,62.0,91.0,89.0,92.0,91.0,66.0,92.0

In [5]:
cols=["ID", "Name_x",'full_name','club','league','Nationality' ,'Value (M)','age','Overall_x' ,'Position', 'Acceleration', 'Aggression', 'Agility', 'Balance', 'Ball control',
      'Composure', 'Crossing', 'Curve', 'Dribbling', 'Finishing']

In [6]:
newdf=mergetable[cols].copy()
newdf.head(2)

,ID,Name_x,full_name,club,league,Nationality,Value (M),age,Overall_x,Position,Acceleration,Aggression,Agility,Balance,Ball control,Composure,Crossing,Curve,Dribbling,Finishing
0,20801,Cristiano Ronaldo,C. Ronaldo dos Santos Aveiro,Real Madrid CF,Spanish Primera División,Portugal,95.5,32,94,ST,89,63,89,63,93,95,85,81,91,94
1,158023,L. Messi,Lionel Messi,FC Barcelona,Spanish Primera División,Argentina,105.0,30,93,RW,92,48,90,95,95,96,77,89,97,95

In [7]:
newdf=newdf.rename(columns={"ID":"FIFA_ID","Name_x":"Name","Overall_x":"Overall","club":"Club","age":"Age","league":"League"})
newdf

,FIFA_ID,Name,full_name,Club,League,Nationality,Value (M),Age,Overall,Position,Acceleration,Aggression,Agility,Balance,Ball control,Composure,Crossing,Curve,Dribbling,Finishing
0,20801,Cristiano Ronaldo,C. Ronaldo dos Santos Aveiro,Real Madrid CF,Spanish Primera División,Portugal,95.50,32,94,ST,89,63,89,63,93,95,85,81,91,94
1,158023,L. Messi,Lionel Messi,FC Barcelona,Spanish Primera División,Argentina,105.00,30,93,RW,92,48,90,95,95,96,77,89,97,95
2,190871,Neymar,Neymar da Silva Santos Jr.,Paris Saint-Germain,French Ligue 1,Brazil,123.00,25,92,LW,94,56,96,82,95,92,75,81,96,89
3,176580,L. Suárez,Luis Suárez,FC Barcelona,Spanish Primera División,Uruguay,97.00,30,92,ST,88,78,86,60,91,83,77,86,86,94
4,167495,M. Neuer,Manuel Neuer,FC Bayern Munich,German Bundesliga,Germany,61.00,31,92,GK,58,29,52,35,48,70,15,14,30,13
5,188545,R. Lewandowski,Robert Lewandowski,FC Bayern Munich,German Bundesliga,Poland,92.00,28,91,ST,79,80,78,80,89,87,62,77,85,91
6,167664,G. Higuaín,Gonzalo Higuaín,Juventus,Italian Serie A,Argentina,77.00,29,90,ST,78,50,75,69,85,86,68,74,84,91
7,183277,E. Hazard,Eden Hazard,Chelsea,English Premier League,Belgium,90.50,26,90,LW,93,54,93,91,92,87,80,82,93,83
8,182521,T. Kroos,Toni Kroos,Real Madrid CF,Spanish Primera División,Germany,79.00,27,90,CDM,60,60,71,69,89,85,85,85,79,76
9,155862,Sergio Ramos,Sergio Ramos García,Real Madrid CF,Spanish Primera División,Spain,52.00,31,90,CB,75,84,79,60,84,80,66,73,61,60
10,193080,De Gea,David De Gea Quintana,Manchester United,English Premier League,Spain,64.50,26,90,GK,57,38,60,43,42,64,17,21,18,13
11,177003,L. Modrić,Luka Modrić,Real Madrid CF,Spanish Primera División,Croatia,57.00,31,89,CDM,75,62,93,94,92,84,78,79,86,71
12,184941,A. Sánchez,Alexis Sánchez,Arsenal,English Premier League,Chile,67.50,28,89,RM,88,80,90,87,87,86,80,78,90,85
13,173731,G. Bale,Gareth Bale,Real Madrid CF,Spanish Primera División,Wales,69.50,27,89,RW,93,65,77,65,87,85,87,86,89,87
14,138956,G. Chiellini,Giorgio Chiellini,Juventus,Italian Serie A,Italy,38.00,32,89,CB,68,92,59,64,57,82,58,60,58,33
15,153079,S. Agüero,Sergio Agüero,Manchester City,English Premier League,Argentina,66.50,29,89,ST,90,63,86,91,89,90,70,82,89,90
16,1179,G. Buffon,Gianluigi Buffon,Juventus,Italian Serie A,Italy,4.50,39,89,GK,49,38,55,49,28,70,13,20,26,15
17,192119,T. Courtois,Thibaut Courtois,Chelsea,English Premier League,Belgium,59.00,25,89,GK,46,23,61,45,23,52,14,19,13,14
18,192985,K. De Bruyne,Kevin De Bruyne,Manchester City,English Premier League,Belgium,83.00,26,89,RM,76,68,80,75,87,84,90,83,85,83
19,164240,Thiago Silva,Thiago Emiliano da Silva,Paris Saint-Germain,French Ligue 1,Brazil,34.00,32,88,CB,70,77,74,68,80,83,60,61,68,38
20,178603,M. Hummels,Mats Hummels,FC Bayern Munich,German Bundesliga,Germany,48.00,28,88,CB,62,66,64,58,77,91,64,65,68,55
21,9014,A. Robben,Arjen Robben,FC Bayern Munich,German Bundesliga,Netherlands,36.00,33,88,RW,87,47,89,91,89,86,80,87,92,85
22,200389,J. Oblak,Jan Oblak,Atlético Madrid,Spanish Primera División,Slovenia,57.00,24,88,GK,43,34,67,49,16,55,13,13,12,11
23,188567,P. Aubameyang,Pierre-Emerick Aubameyang,Borussia Dortmund,German Bundesliga,Gabon,61.00,28,88,ST,95,43,77,70,82,84,77,78,82,88
24,183907,J. Boateng,Jérôme Boateng,FC Bayern Munich,German Bundesliga,Germany,48.00,28,88,CB,72,82,58,53,71,86,69,56,67,34
25,211110,P. Dybala,Paulo Dybala,Juventus,Italian Serie A,Argentina,79.00,23,88,ST,88,48,91,85,93,84,80,88,92,85
26,184344,L. Bonucci,Leonardo Bonucci,Milan,Italian Serie A,Italy,44.00,30,88,CB,62,82,60,52,75,84,44,56,69,39
27,182493,D. Godín,Diego Godín,Atlético Madrid,Spanish Primera División,Uruguay,40.00,31,88,CB,62,86,63,58,76,82,55,49,53,42
28,189509,Thiago,Thiago Alcântara,FC Bayern Munich,German Bundesliga,Spain,70.50,26,88,CDM,77,57,90,86,92,83,72,85,90,69
29,194765,A. Griezmann,Antoine Griezmann,Atlético Madrid,Spanish Primera División,France,75.00,26,88,LW,87,69,90,80,86,86,82,84,87,88
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17813,225778,T. Robinson,Tyrell Robinson,Bradford City,English League One,England,0.06,19,48,LM,69,26,65,74,48,38,50,44,46,45
17814,240381,Z. Mohammed,Zehn Mohammed,Accrington Stanley,English League Two,England,0.05,17,48,CB,62,41,43,60,27,40,24,27,29,23
17815,232285,J. Doona,James Doona,Shamrock Rovers,Rep. Ireland Premier Division,Republic of Ireland,0.06,19,48,CM,59,57,57,57,48,42,41,31,47,31
17816,239933,V. Soromytko,Vladislav Soromytko,FC SKA-Energiya Khabarovsk,Russian Premier League,Russia,0.03,22,48,GK,54,20,39,23,19,24,13,13,6,8
17817,240455,B. Sass-Davies,Billy Sass-Davies,Crewe Alexandra,English League Two,Wales,0.06,17,48,CB,63,49,59,54,30,49,28,25,35,24
17818,233432,M. McElhinney,Mark McElhinney,Derry City,Rep. Ireland Premier Division,Republic of Ireland,0.04,19,48,GK,37,18,33,43,15,38,14,11,14,11
17819,239178,L. Walsh,Liam Walsh,Finn Harps,Rep. Ireland Premier Division,Republic of Ireland,0.05,17,48,CAM,67,29,58,67,48,50,30,31,47,50
17820,238799,E. Hughes,Emmet Hughes,Dundalk,Rep. Ireland Premier Division,Northern Ireland,0.03,18,48,LB,55,50,51,66,42,39,43,34,45,27
17821,237746,Y. Uchimura,Yoshihiro Uchimura,Hokkaido Consadole Sapporo,Japanese J1 League,Japan,0.02,32,48,CAM,40,31,33,65,57,62,51,45,49,31
17822,231824,K. Egan,Kyle Egan,Exeter City,English League Two,England,0.06,19,47,RB,63,51,57,65,35,38,47,28,54,23
17823,240325,R. White,Ryan White,Bolton Wanderers,English Championship,England,0.06,18,47,ST,51,33,51,69,44,44,28,38,47,59
17824,237974,T. Brownsword,Tyler Brownsword,Morecambe,English League Two,England,0.06,17,47,CB,55,47,49,59,30,48,25,21,26,21
17825,231107,A. Kilgour,Alfie Kilgour,Bristol Rovers,English League One,England,0.04,19,47,CB,52,56,60,51,42,38,29,33,29,22
17826,238217,G. Manley,Garan Manley,Cork City,Rep. Ireland Premier Division,Republic of Ireland,0.05,19,47,CM,57,59,58,70,42,39,32,32,41,29
17827,238477,K. Fujikawa,Kotaro Fujikawa,Júbilo Iwata,Japanese J1 League,Japan,0.06,18,47,CM,59,55,50,79,48,35,31,39,46,28
17828,238219,A. Byrne,Alec Byrne,Cork City,Rep. Ireland Premier Division,Republic of Ireland,0.06,18,47,CM,58,54,59,77,43,38,34,30,43,28
17829,238306,A. Conway,Aaron Conway,Galway United,Rep. Ireland Premier Division,Republic of Ireland,0.06,19,47,CB,60,44,47,54,28,43,51,46,48,34
17830,237859,C. Rogers,Calvin Rogers,Bray Wanderers,Rep. Ireland Premier Division,Republic of Ireland,0.04,17,47,CB,60,41,46,62,35,35,37,26,21,24
17831,236807,D. Peppard,Dominic Peppard,Bohemian FC,Rep. Ireland Premier Division,Republic of Ireland,0.05,17,47,RB,56,59,52,55,43,42,39,28,39,17
17832,238985,P. Phillips,Pierce Phillips,Cork City,Rep. Ireland Premier Division,Republic of Ireland,0.06,18,47,CM,56,51,51,65,41,35,31,30,44,26
17833,236954,F. Prohart,Florian Prohart,Wolfsberger AC,Austrian Bundesliga,Austria,0.06,18,47,ST,62,27,69,71,46,42,32,36,51,50
17834,225319,N. McLaughlin,Neil McLaughlin,Partick Thistle F.C.,Scottish Premiership,Scotland,0.06,18,47,CAM,69,52,54,72,45,47,34,34,43,47
17835,240404,J. Keeble,Jack Keeble,Grimsby Town,English League Two,England,0.04,18,46,CB,66,40,45,48,34,37,28,28,29,15
17836,240403,T. Sawyer,Tom Sawyer,Grimsby Town,English League Two,England,0.05,18,46,CM,65,43,57,51,42,35,36,31,48,35
17837,235352,T. Käßemodel,Tommy Käßemodel,FC Erzgebirge Aue,German 2. Bundesliga,Germany,0.03,28,46,CM,25,52,40,52,46,42,42,52,44,40
17838,11728,B. Richardson,Barry Richardson,Wycombe Wanderers,English League Two,England,0.00,47,46,GK,25,44,35,44,22,44,11,12,11,11
17839,237463,A. Kelsey,Adam Kelsey,Scunthorpe United,English League One,England,0.05,17,46,GK,24,16,38,26,12,23,14,13,12,5
17840,238813,J. Lundstram,Josh Lundstram,Crewe Alexandra,English League Two,England,0.06,18,46,CM,57,46,58,74,43,45,34,30,41,32
17841,231381,J. Young,Jordan Young,Swindon Town,English League Two,Scotland,0.06,17,46,ST,66,26,60,77,41,50,28,32,37,47
17842,238308,L. Sackey,Leslie Sackey,Scunthorpe United,English League One,Ghana,0.05,18,46,ST,48,52,49,47,32,33,19,17,23,20

In [8]:
newdf=newdf[newdf["Overall"]>75]
newdf= newdf[~(newdf== "0").any(axis=1)]
newdf=newdf.drop_duplicates(subset='FIFA_ID', keep="last")
newdf=newdf.drop_duplicates(subset='full_name', keep="last")

newdf.head(15)

,FIFA_ID,Name,full_name,Club,League,Nationality,Value (M),Age,Overall,Position,Acceleration,Aggression,Agility,Balance,Ball control,Composure,Crossing,Curve,Dribbling,Finishing
0,20801,Cristiano Ronaldo,C. Ronaldo dos Santos Aveiro,Real Madrid CF,Spanish Primera División,Portugal,95.5,32,94,ST,89,63,89,63,93,95,85,81,91,94
1,158023,L. Messi,Lionel Messi,FC Barcelona,Spanish Primera División,Argentina,105.0,30,93,RW,92,48,90,95,95,96,77,89,97,95
2,190871,Neymar,Neymar da Silva Santos Jr.,Paris Saint-Germain,French Ligue 1,Brazil,123.0,25,92,LW,94,56,96,82,95,92,75,81,96,89
3,176580,L. Suárez,Luis Suárez,FC Barcelona,Spanish Primera División,Uruguay,97.0,30,92,ST,88,78,86,60,91,83,77,86,86,94
4,167495,M. Neuer,Manuel Neuer,FC Bayern Munich,German Bundesliga,Germany,61.0,31,92,GK,58,29,52,35,48,70,15,14,30,13
5,188545,R. Lewandowski,Robert Lewandowski,FC Bayern Munich,German Bundesliga,Poland,92.0,28,91,ST,79,80,78,80,89,87,62,77,85,91
6,167664,G. Higuaín,Gonzalo Higuaín,Juventus,Italian Serie A,Argentina,77.0,29,90,ST,78,50,75,69,85,86,68,74,84,91
7,183277,E. Hazard,Eden Hazard,Chelsea,English Premier League,Belgium,90.5,26,90,LW,93,54,93,91,92,87,80,82,93,83
8,182521,T. Kroos,Toni Kroos,Real Madrid CF,Spanish Primera División,Germany,79.0,27,90,CDM,60,60,71,69,89,85,85,85,79,76
9,155862,Sergio Ramos,Sergio Ramos García,Real Madrid CF,Spanish Primera División,Spain,52.0,31,90,CB,75,84,79,60,84,80,66,73,61,60
10,193080,De Gea,David De Gea Quintana,Manchester United,English Premier League,Spain,64.5,26,90,GK,57,38,60,43,42,64,17,21,18,13
11,177003,L. Modrić,Luka Modrić,Real Madrid CF,Spanish Primera División,Croatia,57.0,31,89,CDM,75,62,93,94,92,84,78,79,86,71
12,184941,A. Sánchez,Alexis Sánchez,Arsenal,English Premier League,Chile,67.5,28,89,RM,88,80,90,87,87,86,80,78,90,85
13,173731,G. Bale,Gareth Bale,Real Madrid CF,Spanish Primera División,Wales,69.5,27,89,RW,93,65,77,65,87,85,87,86,89,87
14,138956,G. Chiellini,Giorgio Chiellini,Juventus,Italian Serie A,Italy,38.0,32,89,CB,68,92,59,64,57,82,58,60,58,33

In [9]:
countryinfo=pd.read_csv("all.csv")
countryinfo=countryinfo[["country-code","name", "region" ,"region-code"]]


countryinfo=countryinfo.rename(columns={"name":"Nationality","sub-region":"sub_region","country-code":"country_code","region-code":"region_code"})
countryinfo=countryinfo.dropna()
countryinfo["region_code"]=countryinfo["region_code"].astype(int)
countryinfo.head(5)

   country_code     Nationality   region  region_code
0             4     Afghanistan     Asia          142
1           248   Åland Islands   Europe          150
2             8         Albania   Europe          150
3            12         Algeria   Africa            2
4            16  American Samoa  Oceania            9

In [10]:

#Build League Table with unique League_ID

League_Table=pd.DataFrame()
League_Table["League_ID"]=""
League_Table["League"]=newdf["League"].unique()
League_Table = League_Table[~(League_Table== "0").any(axis=1)]
League_Table=League_Table.sort_values(by="League", ascending=True)
League_Table=League_Table.reset_index(drop=True)
League_Table["League_ID"]=League_Table.index+1
League_Table.head()

   League_ID                         League
0          1          Argentinian Superliga
1          2            Australian A-League
2          3            Austrian Bundesliga
3          4       Belgian First Division A
4          5  Campeonato Brasileiro Série A

In [11]:


#Build League Table with unique League_ID
Club_Table=pd.DataFrame()
Club_Table["Club_ID"]=""
Club_Table["Club"]=newdf["Club"]
Club_Table["League"]=newdf["League"]
Club_Table=Club_Table.drop_duplicates(subset='Club', keep="last")
Club_Table=Club_Table.sort_values(by="Club", ascending=True)
Club_Table=Club_Table.reset_index(drop=True)
Club_Table["Club_ID"]=Club_Table.index+1
Club_Table=pd.merge(Club_Table,League_Table, on="League")
Club_Table=Club_Table.drop(["League"], axis=1)
Club_Table=Club_Table.sort_values(by="Club_ID", ascending=True)
Club_Table=Club_Table.reset_index(drop=True)
Club_Table.head()

   Club_ID              Club  League_ID
0        1        1. FC Köln         14
1        2   1. FSV Mainz 05         14
2        3        AC Ajaccio         12
3        4         AS Monaco         11
4        5  AS Saint-Étienne         11

In [12]:
Key_Stats_Table= newdf[["FIFA_ID",'Overall','Acceleration', 'Aggression', 'Agility', 'Balance', 'Ball control',
      'Composure', 'Crossing', 'Curve', 'Dribbling', 'Finishing']]
Key_Stats_Table.head()

,FIFA_ID,Overall,Acceleration,Aggression,Agility,Balance,Ball control,Composure,Crossing,Curve,Dribbling,Finishing
0,20801,94,89,63,89,63,93,95,85,81,91,94
1,158023,93,92,48,90,95,95,96,77,89,97,95
2,190871,92,94,56,96,82,95,92,75,81,96,89
3,176580,92,88,78,86,60,91,83,77,86,86,94
4,167495,92,58,29,52,35,48,70,15,14,30,13

In [13]:
Nation_Table=newdf[["FIFA_ID","Nationality"]]
Nation_Table=pd.merge(Nation_Table,countryinfo, on="Nationality")
Nation_Table=Nation_Table.drop(["region","region_code"],axis=1)
Nation_Table=Nation_Table.reset_index(drop=True)
Nation_Table.head()

   FIFA_ID Nationality  country_code
0    20801    Portugal           620
1   120533    Portugal           620
2   218667    Portugal           620
3   212814    Portugal           620
4    20775    Portugal           620

In [14]:
Country_Table=countryinfo[["country_code","Nationality","region_code"]]
Country_Table.head()

   country_code     Nationality  region_code
0             4     Afghanistan          142
1           248   Åland Islands          150
2             8         Albania          150
3            12         Algeria            2
4            16  American Samoa            9

In [15]:
Region_Table= countryinfo[["region_code","region"]]
Region_Table=Region_Table.drop_duplicates(subset='region', keep="last")
Region_Table=Region_Table.sort_values(by="region_code", ascending=True)
Region_Table=Region_Table.reset_index(drop=True)
Region_Table.head()

   region_code    region
0            2    Africa
1            9   Oceania
2           19  Americas
3          142      Asia
4          150    Europe

In [16]:
General_Info_Table=pd.merge(newdf, Club_Table, on="Club")
COLNEED=["FIFA_ID",'Name','Age','Nationality','Value (M)' ,'Club_ID', 'League_ID','Position','Overall']
General_Info_Table=General_Info_Table[COLNEED]
General_Info_Table=General_Info_Table.sort_values(by="Overall", ascending=False)
General_Info_Table.head()

,FIFA_ID,Name,Age,Nationality,Value (M),Club_ID,League_ID,Position,Overall
0,20801,Cristiano Ronaldo,32,Portugal,95.5,169,27,ST,94
20,158023,L. Messi,30,Argentina,105.0,77,27,RW,93
63,167495,M. Neuer,31,Germany,61.0,79,14,GK,92
43,190871,Neymar,25,Brazil,123.0,157,11,LW,92
21,176580,L. Suárez,30,Uruguay,97.0,77,27,ST,92

In [17]:
Fullname_Table=newdf[["FIFA_ID","full_name"]]
Fullname_Table.head()

   FIFA_ID                     full_name
0    20801  C. Ronaldo dos Santos Aveiro
1   158023                  Lionel Messi
2   190871    Neymar da Silva Santos Jr.
3   176580                   Luis Suárez
4   167495                  Manuel Neuer

In [18]:
db = MySQLdb.connect(host="localhost",    # your host, usually localhost
                     user=f"{user_name}",         # your username
                     passwd=f"{password}",  # your password
                     use_unicode=True,
                     charset="utf8"
                     
                        )        # name of the data base
cursor = db.cursor()


PROJECT_DB="ETL_PROJECT_DB"
# Execute SQL select statement
cursor.execute(f"DROP DATABASE IF EXISTS {PROJECT_DB}")

cursor.execute(f"CREATE DATABASE IF NOT EXISTS {PROJECT_DB}")
cursor.close()
db = MySQLdb.connect(host="localhost",    # your host, usually localhost
                     user=f"{user_name}",         # your username
                     passwd=f"{password}",  # your password
                     use_unicode=True,
                     charset="utf8",
                     database=f"{PROJECT_DB}"
                        )        # name of the data base
cursor = db.cursor()

In [19]:
rds_connection_string = f"{user_name}:{password}@127.0.0.1/{PROJECT_DB}"
engine = create_engine(f'mysql://{rds_connection_string}?charset=utf8')

In [20]:
#Pandas Table to SQL making PRMIARY KEY
General_Info_Table.to_sql(name='general_info', con=engine, if_exists='replace', index=False)
cursor.execute('Alter Table `general_info` ADD PRIMARY KEY (`FIFA_ID`)')

0

In [21]:
Club_Table.to_sql(name='club', con=engine, if_exists='replace', index=False)
cursor.execute('Alter Table `club` ADD PRIMARY KEY (`club_id`)')

0

In [22]:
League_Table.to_sql(name='league', con=engine, if_exists='replace', index=False)
cursor.execute('Alter Table `league` ADD PRIMARY KEY (`league_id`)')

0

In [23]:
Nation_Table.to_sql(name='nationality', con=engine, if_exists='replace', index=False)
cursor.execute('Alter Table `nationality` ADD PRIMARY KEY (`fifa_id`)')

0

In [24]:
Country_Table.to_sql(name='country', con=engine, if_exists='replace', index=False)
cursor.execute('Alter Table `country` ADD PRIMARY KEY (`country_code`)')

0

In [25]:
Region_Table.to_sql(name='region', con=engine, if_exists='replace', index=False)
cursor.execute('Alter Table `region` ADD PRIMARY KEY (`region_code`)')

0

In [26]:
Key_Stats_Table.to_sql(name='key_stats', con=engine, if_exists='replace', index=False)
cursor.execute('Alter Table `key_stats` ADD PRIMARY KEY (`fifa_id`)')

0

In [27]:
Fullname_Table.to_sql(name='player', con=engine, if_exists='replace', index=False)
cursor.execute('Alter Table `player` ADD PRIMARY KEY (`fifa_id`)')

0

In [28]:
cursor.execute('ALTER TABLE `general_info` ADD FOREIGN KEY (`club_id`) REFERENCES `club`(`club_id`) ON DELETE CASCADE')

cursor.execute('ALTER TABLE `general_info` ADD FOREIGN KEY (`league_id`) REFERENCES `league`(`league_id`) ON DELETE CASCADE')

cursor.execute('ALTER TABLE `general_info` ADD FOREIGN KEY (`fifa_id`) REFERENCES `player`(`fifa_id`)  ON DELETE CASCADE')

cursor.execute('ALTER TABLE `general_info` ADD FOREIGN KEY (`fifa_id`) REFERENCES `key_stats`(`fifa_id`)  ON DELETE CASCADE')

1499

In [29]:
cursor.execute('ALTER TABLE `nationality` ADD FOREIGN KEY (`fifa_id`) REFERENCES `general_info`(`fifa_id`) ON DELETE CASCADE')


cursor.execute('ALTER TABLE `country` ADD FOREIGN KEY (`region_code`) REFERENCES `region`(`region_code`)  ON DELETE CASCADE')

cursor.execute('ALTER TABLE `nationality` ADD FOREIGN KEY (`country_code`) REFERENCES `country`(`country_code`)  ON DELETE CASCADE')
cursor.execute('ALTER TABLE `club` ADD FOREIGN KEY (`league_id`) REFERENCES `league`(`league_id`)')

229

In [30]:
a= pd.read_html("Web scrape/fifascrape.html")
b=a[0]
b.columns=b.iloc[0]
b=b[1:]
b=b.dropna()

In [31]:
b.to_sql(name='2018_stats', con=engine, if_exists='replace', index=False)

In [32]:
d=pd.read_csv("goals.csv")
d=d[d["Goals/Value"]!=0]
d=d.sort_values(by="Goals/Value", ascending=False)
d

               full_name  Goals  Value (M)  Goals/Value
8           Lionel Messi      1      105.0   105.000000
113      Kevin De Bruyne      1       83.0    83.000000
64            Toni Kroos      1       79.0    79.000000
130           Paul Pogba      1       66.5    66.500000
100    Christian Eriksen      1       65.0    65.000000
38           Luis Suárez      2       97.0    48.500000
23          Ivan Rakitić      1       48.5    48.500000
147       Raphaël Varane      1       46.5    46.500000
92            Marco Reus      1       45.0    45.000000
199            Dele Alli      1       43.0    43.000000
36         Dries Mertens      1       43.0    43.000000
192           Sadio Mané      1       39.0    39.000000
73        Ángel Di María      1       37.5    37.500000
189        Emil Forsberg      1       31.5    31.500000
68           Eden Hazard      3       90.5    30.166667
176        Samuel Umtiti      1       29.5    29.500000
41           Luka Modrić      2       57.0    28.500000
30        Jan Vertonghen      1       28.5    28.500000
119      Xherdan Shaqiri      1       28.0    28.000000
139         Granit Xhaka      1       27.5    27.500000
98         Shinji Kagawa      1       26.0    26.000000
77      Gylfi Sigurðsson      1       23.0    23.000000
24           Carlos Vela      1       22.5    22.500000
218      Andrej Kramarić      1       22.0    22.000000
115        Juan Cuadrado      1       21.5    21.500000
149          Marcos Rojo      1       21.0    21.000000
165      Michy Batshuayi      1       20.0    20.000000
125    Antoine Griezmann      4       75.0    18.750000
154       Thomas Meunier      1       18.5    18.500000
132  Grzegorz Krychowiak      1       17.5    17.500000
194        Mohamed Salah      2       32.5    16.250000
52        Edinson Cavani      3       48.5    16.166667
110        Romelu Lukaku      4       59.0    14.750000
229       Hirving Lozano      1       14.5    14.500000
163         M'Baye Niang      1       14.5    14.500000
181        Jesse Lingard      1       13.0    13.000000
186        Adnan Januzaj      1       12.5    12.500000
31          Victor Moses      1       12.5    12.500000
39     Marouane Fellaini      1       12.0    12.000000
142         Nacer Chadli      1       11.0    11.000000
183       Yussuf Poulsen      1       11.0    11.000000
57          Ivan Perišić      3       31.5    10.500000
146         Milan Badelj      1       10.5    10.500000
105           Yūya Ōsako      1       10.5    10.500000
158        Harry Maguire      1       10.5    10.500000
159       André Carrillo      1       10.5    10.500000
241        Kylian Mbappé      4       41.5    10.375000
84       Kieran Trippier      1       10.0    10.000000
151           Harry Kane      6       59.0     9.833333
85         Keisuke Honda      1        9.0     9.000000
129   Alfreð Finnbogason      1        8.0     8.000000
80    Aleksandar Kolarov      1        8.0     8.000000
58       Mario Mandžukić      3       23.5     7.833333
161          John Stones      2       14.5     7.250000
72       Gabriel Mercado      1        5.5     5.500000
148           Ahmed Musa      2       10.5     5.250000
172         Takashi Inui      2       10.0     5.000000
7      Andreas Granqvist      2        8.5     4.250000
89          Artem Dzyuba      3       10.5     3.500000
177      Denis Cheryshev      4       12.0     3.000000

In [33]:
e=pd.read_csv("timeplayed.csv")
z=[]
for x in e["time played"]:
    z.append(int(x.split(" ")[0]))
e["time played"]=z

e["Timeplayed/Value"]=e[ 'Value (M)']/e['time played']*10000
e["Timeplayed/Value"]=e["Timeplayed/Value"].apply(lambda x: '%.3f' % x)
e=e.drop_duplicates(subset="full_name", keep="last")
e=e.sort_values(by="time played", ascending=False)
e.reset_index(drop=True)

                  full_name  time played  Value (M) Timeplayed/Value
0               Luka Modrić          694       57.0          821.326
1           Jordan Pickford          690       10.0          144.928
2              Dejan Lovren          651       17.5          268.817
3               John Stones          645       14.5          224.806
4             Harry Maguire          645       10.5          162.791
5              Ivan Rakitić          638       48.5          760.188
6              Ivan Perišić          632       31.5          498.418
7          Thibaut Courtois          630       59.0          936.508
8            Raphaël Varane          630       46.5          738.095
9           Danijel Subašić          630       22.0          349.206
10          Mario Mandžukić          608       23.5          386.513
11            Šime Vrsaljko          607       13.5          222.405
12             N'Golo Kanté          595       52.5          882.353
13          Lucas Hernández          590       13.5          228.814
14          Kieran Trippier          576       10.0          173.611
15               Harry Kane          573       59.0         1029.668
16        Antoine Griezmann          570       75.0         1315.789
17           Olivier Giroud          546       21.5          393.773
18            Samuel Umtiti          540       29.5          546.296
19        Toby Alderweireld          540       40.5          750.000
20           Jan Vertonghen          540       28.5          527.778
21          Kevin De Bruyne          540       83.0         1537.037
22              Hugo Lloris          540       38.0          703.704
23               Paul Pogba          539       66.5         1233.766
24            Kylian Mbappé          534       41.5          777.154
25            Jesse Lingard          527       13.0          246.679
26              Eden Hazard          518       90.5         1747.104
27            Igor Akinfeev          510        7.5          147.059
28             Roman Zobnin          510       10.5          205.882
29              Kyle Walker          495       24.0          484.848
..                      ...          ...        ...              ...
209            Marco Fabián           25       13.0         5200.000
210     Michael Krohn-Dehli           22        6.5         2954.545
211            Paulo Dybala           22       79.0        35909.091
212           Julian Brandt           19       22.0        11578.947
213          Kasper Dolberg           15       16.5        11000.000
214        Andrija Živković           15       14.0         9333.333
215  Mehdi Carcela-González           15        9.0         6000.000
216            Raúl Ruidíaz           13        9.0         6923.077
217      Giovani dos Santos           13       13.0        10000.000
218           Danny Welbeck           11       17.5        15909.091
219         Florian Thauvin            1       28.0       280000.000
220           Oribe Peralta            1        4.8        48000.000
221           Koen Casteels            0        9.0              inf
222          Martín Campaña            0       11.0              inf
223            Andrey Lunev            0        9.0              inf
224             Kevin Trapp            0       18.5              inf
225        Cristian Ansaldi            0        9.0              inf
226         Erick Gutiérrez            0       11.0              inf
227       Kepa Arrizabalaga            0       15.5              inf
228            Jesús Corona            0       23.0              inf
229   Marc-André ter Stegen            0       35.5              inf
230      Jannik Vestergaard            0       14.5              inf
231         Matthias Ginter            0       11.5              inf
232           Anthony Lopes            0       22.5              inf
233              Brad Jones            0        2.1              inf
234               Adil Rami            0       12.0              inf
235         Alphonse Areola            0       13.0              inf
236           Javier Aquino            0        9.5              inf
237          Simon Mignolet            0       12.0              inf
238            Jack Butland            0       18.0              inf

[239 rows x 4 columns]

In [34]:
d.to_sql(name='worldcup_value/goals', con=engine, if_exists='replace', index=False)
e.to_sql(name='worldcup_value/timeplayed', con=engine, if_exists='replace', index=False)

In [35]:
cursor.execute('ALTER TABLE `player` modify  `full_name` varchar(50)')
cursor.execute('ALTER TABLE `worldcup_value/timeplayed` modify  `full_name` varchar(50)')
cursor.execute('ALTER TABLE `player` add constraint iwantunique unique(`full_name`)')
#
cursor.execute('ALTER TABLE `worldcup_value/timeplayed` ADD FOREIGN KEY (`full_name`) REFERENCES `player`(`full_name`)')

239

In [36]:
#alter table pwlhseis add constraint uq1 unique (ae_po);aasda